* {
    font-family: sans-serif;
}

body {
    background-color: #e5fff4;
}

.open-library-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
    transition: top 0.5s linear;
    z-index: 3;
    background-color: #e2fff3;;
}

.open-library-wrapper h2 {
    margin: 2rem;
    cursor: pointer;
    color: black;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 0 50px gray;
    position: absolute;
    top: 0;
    left: -22rem;
    transition: left 0.7s cubic-bezier(.2,.01,.48,1.71);
    overflow-y: scroll;
}

.sidebar-move {
    left: 0;
}

.sidebar-buttons {
    width: calc(100% - 2rem);
    height: 4rem;
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #e5fff4, #c2ffe4);
    border-radius: 0.5rem;
    /* color: #04da93; */
    color: black;
    font-weight: 900;
    border: none;
}

.sidebar-buttons:hover {
    background: #d3ffed;
}

.hamburger {
    display: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top:0;
    margin:1rem;
    cursor: pointer;
    z-index: 5;
}

.project-title {
    margin: 2rem;
    font-size:4rem;
    position: absolute;
}

@media screen and (max-width:767px) {
    .open-library-wrapper {
        flex-direction: column !important;
        align-items: flex-start;
        position: absolute;
        margin: 0;
        left: 0;
    }
    .hamburger {
        display: block;
    }
}