.spotify-song {
    border: 3px solid black;
    margin: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.spotify-song:hover {
    opacity: 0.7;
}

.removed {
    display: none;
}

.input-and-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-img {
    width: 2rem;
    height: 2rem;
}

.spotify-search {
    border: 3px solid black;
    font-size: 1rem;
    margin:1rem;
    padding: 0.4rem;
}

.close-extra-modal {
    color: red;
    margin: 0.3rem;
    cursor: pointer;
    position: absolute;
    right: 0.2rem;
    top: 0;
}

.sample-title-text {
    margin-top: 1rem;
    margin-left: 1rem;
    color: black;
}

.preview-song {
    width: 0.5rem;
    background-color: black;
    position: absolute;
    right: 0;
    transform: translate(-1.5rem,-3rem);
}

@media (max-width:767px) {
    .spotify-song {
        width: 20rem;
        transform: translate(50%,0);
    }
}