.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-modal {
    position: absolute;
    right: 0.2rem;
    top: 0;
    margin: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: red;
}

.close-modal:hover {
    opacity: 0.7;
}

.modal-wrapper label {
    color: var(--modal-color);
    font-size: 1.5em;
    margin: 0 2rem;
}

.modal-wrapper input[type=text] {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border: 2px solid black;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 3px solid black;
    padding: 0.5rem;
}
.modal-wrapper input[type=checkbox] {
    margin-bottom: 1.5rem;
    margin-left: 4.5rem;
}

.modal-wrapper input[type=submit] {
    margin-left: 1.5rem;
    margin-right: 4rem;
    width: 8rem;
    font-size: 2rem;
    align-self: center;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #ccffe7;
    border-radius: 0.5rem;
    color: #059363;
    font-weight: 800;
    border: none;
}

.modal-wrapper input[type=submit]:hover {
    background-color: #a2ffd4;
}

.choose-button {
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.2rem;
    cursor: pointer;
    background-color: #ccffe7;
    border-radius: 5px;
    color: #059363;
    font-weight: 800;
    border: none;
}

.choose-button:hover {
    background-color: #a6fed5;
}

.success-check {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 1s ease;
    background-attachment: fixed;
}

@media (max-width:767px) {
    .modal-wrapper {
        width: 20rem;
        height: 34rem;
        top:25rem;
    }
}