.unsplash-image-wrapper {
    margin: 1rem;
}

.unsplash-image {
    object-fit: cover;
    height: 7.5rem;
    width: 7.5rem;
    cursor: pointer;
}

.unsplash-image:hover {
    opacity: 0.6;
}

@media (max-width:767px) {
   .unsplash-image {
       height:3.5rem;
       width:3.5rem;
   }    
   .unsplash-image-wrapper {
       width: 14rem;
       transform: translate(100%,0%);
   }
   .sample-title-text {
       font-size: 1rem;
       transform: translate(25%,0);
   }
   .close-extra-modal {
       left:70%
   }
}